<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<header>
	<h1>The Dragon Empire</h1>
	<div class="container">
		<nav>
		<ul>
			<li><a href="homepage.html">Home</a></li>
			<li><a href="dragon.html">Dragon Empire</a></li>
			<li><a href="darkstates.html">Dark States</a></li>
			<li><a href="stoichiea.html">Stoichiea</a></li>
			<li><a href="keter.html">Keter Sanctuary</a></li>
			<li><a href="brandt.html">Brandt Gate</a></li>
		</ul>
		</nav>
	</div>
</header>

<body>
<p>
	The Dragon Empire. This is a world of Brimstone and Fire. Dragons. Not every unit is a dragon, but it's mostly
	revolved around dragons. Dragon Empire decks usually focus on board disruption, and having high powered unit 
	attacks, and sometimes gaining extra criticals.
</p>
</body>

</html>
