<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vanguard Overdress Guide</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<header>
	<h1>Vanguard Overdress Guide</h1>
	<div class="container">
		<nav>
		<ul>
			<li><a href="homepage.html">Home</a></li>
			<li><a href="dragon.html">Dragon Empire</a></li>
			<li><a href="darkstates.html">Dark States</a></li>
			<li><a href="stoichiea.html">Stoichiea</a></li>
			<li><a href="keter.html">Keter Sanctuary</a></li>
			<li><a href="brandt.html">Brandt Gate</a></li>
		</ul>
		</nav>
	</div>
</header>

<body>
	<p>
		Welcome to Cardfight Vanguard, Overdress! Vanguard is a fun card game with a lot of different decks
		and different playstyles. Here, the decks are fully explained in detailed, listing the different cards
		that work off of those decks, and different combos that can be performed. On the homepage, I'll also 
		list different gameplay strategies that can be employed in all of the decks. I hope you whoever sees 
		this website gets something out of it. Stand up, Vanguard!
	</p>
</body>
</html>
